@import 'reset';

.phone-input {
  // border-bottom: 1px solid #565656;
  border: solid 1px #e4e3e3;
  border-radius: 7px;
  padding: 0 10px;
  input {
    width: 100%;
    font-size: 18px !important;
    // line-height: 20px !important;
    font-weight: 400 !important;
    color: #101010 !important;
    // background: transparent !important;
    height: 50px !important;
    border: none !important;
  }

  .react-international-phone-country-selector {
    button {
      height: 100%;
      width: 40px;
      background: transparent !important;
      border: none;
    }
  }
}

.full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.kit_img {
  width: 750px;
  height: 370px;
  margin-top: 70px;
}
 

.cloud {
  width: 100%;
  margin-top: -240px;
}

@media (max-width:"480px"){

.kit_img {
  width:100%;
  height: 100%;
  margin-top: 0px;
}
 

.cloud {
  width: 100%;
  margin-top: -70px;
  
}
}
 
// .fon {
//   background-image: url("../assets/Снимок\ экрана\ 2024-10-22\ в\ 21.37.01\ 1.png");
//   // background-image: url("../assets/Снимок\ экрана\ 2024-10-22\ в\ 21.37.01\ 1\ \(1\).png");

// }
  